body {
    margin: 0;
    padding: 0;
    color: #cf5858;
}
figcaption {
    font-family: 'Oswald', serif;
    text-decoration-color:rgb(212, 104, 104);
}
.h-buttons {
    margin-top: 90px;
    margin-bottom: 100px;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}
#menu {
    padding-top: 20px;
}

#order-pizza {
    color: #000;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}
.click-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.get-pizza {
    margin-top: 40px;
}
cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.go {
    border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}